/* Item.css (Updated for Compact Look) */

.item {
  /* Fixed width hata dein ya kam kar dein, taki grid mein fit ho sake */
  width: 250px;
  /* Ya is line ko delete kar dein agar popular-item grid use kar raha hai */
  margin-bottom: 25px;
  /* Items ke beech vertical space */
}

/* New style for the image */
.item img {
  width: 100%;
  /* Image height fix kiya taki sab ek size ke dikhein */
  height: 300px;
  object-fit: cover;
  /* Taki image cut na ho, sirf cover ho */
}

.item p {
  margin: 6px 0px;
  font-size: 14px;
  /* Text size thoda kam kiya */
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  color: #374151;
  /* Ya use #ff4141 for red highlight */
  font-size: 18px;
  font-weight: 600;

}

.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;

}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}